<?xml version="1.0"?>
<!--
/**
 * @author     Osiozekhai Aliu
 * @package    BIWAC_ProductClassToPostcode
 * @copyright  Copyright (c) 2024 BIWAC
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="BIWAC_ProductClassToPostcode::product_class_postcodes"
             title="Product Class to Postcode"
             module="BIWAC_ProductClassToPostcode"
             sortOrder="30"
             action="product-class-postcode/index/index"
             parent="Magento_Catalog::catalog"
             resource="BIWAC_ProductClassToPostcode::product_class_postcodes"/>
    </menu>
</config>
